.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-item {
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid #D0EE71;
    border-radius: 10px;
    background-color: #CEEAF4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


img {  
  width: 75%;
  
}

@keyframes border-color-change {
    from { border-color: #D0EE71; }
    to { border-color: #C350DF; }

}

@keyframes width-change {
    0% { width: 75%; }
    50% { width: 50%; }
    100% { width: 75%; }
}

@keyframes color-change {
    from { color: white; }
    to { color: #4A80CA; }
}

.animate-border-color {
    border: 2px solid black; 
    width: 75%; 
    animation: border-color-change 2s infinite;
}

.animate-width {
    animation: width-change 3s infinite;
}

.animate-color {
    animation: color-change 2s infinite;
}
